:root {
    --text-color: #000;
    --bg-color: #fff;
  }
  .theme-dark {
    --text-color: #fff;
    --bg-color: #000;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: var(--text-color);
  }
  .content-bg-color {
    background-color: var(--bg-color);
  }
  .main-content {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  